body {
  background-color: #111;
  color: #eee;
  font-family: Helvetica;
  margin: 50px;
}
.answer {
  text-align: right;
  padding: 20px;
  font-size: 120px;
  margin: 50px auto;
  color: orange;
  height: 120px;
  line-height: 120px;
  border: 1px solid gray;
  background-color: #333;
}

.inputs {
  margin: 0 auto;
  text-align: center;
}
input, select, button {
  border: 1px solid gray;
  background-color: #333;
  height: 75px;
  line-height: 75px;
  font-size: 50px;
  color: white;
}
button {
  height: 80px;
  width: 98%;
  margin: 20px auto;
  display: block;
  cursor: pointer;
}
button:active {
  background-color: #222;
}
input[type=text] {
  width: 43%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
select {
  text-align: center;
  padding-left: 30px;
  width: 10%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#ce {
  height: 40px;
  font-size: 20px;
  line-height: 20px;
  color: rgb(97, 99, 110);
}

#ce:hover {
  border-color: #e24646;
  color: #e24646;
}
